@import '../base.scss';

.App-form {
  display: flex;
  flex-direction: column;
  background: $light-gray;
  // border-radius: .5em;
  // margin: .5em;
  padding: 1em;

  ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    // flex: 1;

    li {
      margin: .5em;
    }
  }
  
  textarea {
    border-radius: .5em;
    height: 7em;
    width: 25em;
   }

   form {
    display: flex;
    justify-content: flex-end;
    flex: 1;

    input {
      flex: 1;
      border-radius: .5em;
      margin-right: .5em;
      margin-left: .5em;
      padding-left: 1em;
      border: none;
    }

    button {
      background: $go-button;
      border-radius: .5em;
      border: none;

      &:checked {
        background: #444;
        color: #fff;
      }
    }
  }

  p {
    min-height: 20vh;
    background-color: #F9F5F0;
    border-radius: .5em;
  }
}