@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;700&family=Ubuntu:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");

$dark-gray: #4b5d67;
$light-gray: #cdc9c3;
$go-button: #d9e4dd;
$placeholder: #d6e0f0;

$font-family: "Titillium Web", sans-serif;

* {
  box-sizing: border-box;
  font-family: $font-family;
}

body,
html {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Titillium Web", sans-serif;
  background: #e0e0e0;
}

body main {
  display: flex;
  flex: 1 1;
  margin: 0 1rem;
}

a {
  text-decoration: none;
  color: #111;
  font-weight: 500;
}

body #root {
  display: flex;
  flex-direction: column;
  flex: 1 1;
}

.no-data {
  position: absolute;
  bottom: 0;
  left: calc(50% - 150px);
  width: 300px;
  margin: 0 auto;
}
