@import '../base.scss';


.App-footer {
  min-height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(.5px + 1vmin);
  color: #302D3C;
  padding-left: 10px;
}